* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body {
  background: linear-gradient(139.73deg, #313d5c, #3d2a54);
  height: 100svh;
}

.line {
  height: 1px;
  background-color: #383241;
  margin: 2rem 0;
  position: relative;

  &::after {
    display: block;
    content: "";
    background-image: url("/img/arrow.png");
    background-size: cover;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
